QWidget
{
    color: #1E90FF;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #1E90FF;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
}
